<div class="show-team">
  <div class="d-flex justify-content-around">
    <div class="show-team__img">
      <img src="../../assets/team-logo.jpg" />
    </div>
    <div class="show-team__text">
      <h3 class=" fs-3 fw-normal text-dark py-3">{{team.name}}</h3>
      <div class="d-flex">
        <div class="d-flex flex-column py-3">
          <div class="show-team__display-text font-weight-bold py-3">Since: {{team.foundationDate}}</div>
        </div>
        <div class="d-flex flex-column py-3 px-5">
          <div class="show-team__display-text font-weight-bold py-3">Country: {{team.country}}</div>
        </div>
      </div>
      <div class="d-flex">
        <div class="d-flex flex-column py-3">
          <div class="show-team__display-text font-weight-bold py-3">Owner: {{team.owner}}</div>
        </div>
        <div class="d-flex flex-column py-3 px-5">
          <div class="show-team__display-text font-weight-bold py-3">Players in team: {{team.playersNumber}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-between p-5 mx-5">
    <p class="show-team__budget pl-4">Budget:  {{team.budget}}$</p>
    <div class="show-team__buttons d-flex justify-content-around">
      <button class="show-team__delete-button px-3 mx-2" (click)="onDeleteClick()">Delete</button>
      <button class="show-team__edit-button" (click)="onModalClick()">Edit</button>
    </div>
  </div>
</div>
<div *ngIf="modalShow">
  <div class="modal-create">
    <div class="modal-create__content">
      <div class="modal-create__header">
        <h3 class="display-1 fs-3 fw-normal text-dark text-center my-3">Edit team</h3>
        <span class="modal__close-button" (click)="onModalClick()">&times;</span>
      </div>
      <div class="modal-create__body">
        <form class="modal-create__body-form mt-4 mb-5" [formGroup]="teamForm" (ngSubmit)="onSubmit()">
          <label for="name">Team name:</label>
          <input type="text" name="name" formControlName="name"/>
          <p class="modal__error-text">{{errorMessageName}}</p>

          <label for="country">Country:</label>
          <input type="text" name="country" formControlName="country"/>
          <p class="modal__error-text">{{errorMessageCountry}}</p>

          <label for="owner">Owner name:</label>
          <input type="text" name="owner" formControlName="owner"/>
          <p class="modal__error-text">{{errorMessageOwner}}</p>

          <label for="budget">Budget:</label>
          <input type="text" name="budget" formControlName="budget"/>
          <p class="modal__error-text">{{errorMessageBudget}}</p>

          <button type="submit" class="btn btn-outline-primary fw-bold border-2 mt-3" >Update</button>
        </form>
      </div>
    </div>
  </div>
</div>