<img src="../../assets/football-bg.jpg">
<div class="main">
  <h1 class="main__heading">How to use?</h1>
  <p class="main__paragraph">Welcome to Foot&ball! 
    Here you can find different football teams and their members. Available options:<br>
    Teams:<br>
    1) To view list of teams click on the "Teams" link in header. Or just press button below<br>
    2) You can create new team on the page with all teams<br>
    3) To watch specific team info press "Show more" on preffered team<br>
    4) "Edit" and "Delete" buttons are avaliable on team profile page after you press "Show more"<br>
    Players:<br>
    1) To view list of players click "Players" link in header or "Show all players" button on team profile page<br>
    2) You can create new player on the page with all players<br>
    2) To watch specific player info press "Show more" on preffered player<br>
    3) "Edit" and "Delete" buttons are avaliable on player profile page after you press "Show more"<br>
    4) To transfer player click "Transfer" link in header<br>
    I wish you a very pleasant use of the app!
  </p>
  <button class="main__proceed-button" (click)="onProceedButtonClick()"><div>Proceed to teams ---></div></button>
</div>