<header class="header">
  <div class="pl-5 ml-5">
    <a class="header__title" [routerLink]="['/']">Foot&ball</a>
  </div>
  <nav class="header__nav">
    <ul>
      <li class="header__nav-item">
        <a class="heaader__nav-link" [routerLink]="['/teams']">Teams</a>
      </li>
      <li class="header__nav-item">
        <a class="heaader__nav-link" [routerLink]="['/players']">Players</a>
      </li>
      <li class="header__nav-item">
        <a class="heaader__nav-link" [routerLink]="['/transfer']">Make transfer</a>
      </li>
    </ul>
  </nav>
</header>